#app{
  font-family:  Helvetica, sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;

  color: red;
  margin-top: 60px;
  padding-left: 10%;
  padding-right: 10%;
}
.signout-btn{
  position: absolute;
  text-align: right;
  top: 60px;
   right: 40px;

}

.event-card{
  border: 2px solid #2C3E50;
  margin-top:10px;
  border-radius: 4px;
}
